.About {
    padding-left: 160px;
    margin: auto;
    width: 50%;
}

h1, p {
    background-color: rgb(204, 76, 115);
    color: black;
    text-align: center;
}

.About h1 {
    font-size: 40px;
}

.Saikal-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}
